# ---------- 基本設定 ----------
#PATH
[ -f $ZDOTDIR/.zshrc_path ] && . $ZDOTDIR/.zshrc_path

# Homebrew オプション
export HOMEBREW_CASK_OPTS='--appdir=/Applications'

# 日本語を使用
export LANG=ja_JP.UTF-8

# 日本語ファイル名を表示可能にする
setopt print_eight_bit

# vim キーバインドを使用
bindkey -v

# 色を使用
autoload -Uz colors
colors

# git の情報を取得
autoload -Uz vcs_info

# ディレクトリ移動時に再度情報取得
setopt prompt_subst

# ---------- ヒストリー関連 ----------
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

# ヒストリーに重複を表示しない
setopt hist_ignore_all_dups

# スペースから始まるコマンド行はヒストリに残さない
setopt hist_ignore_space

# ヒストリに保存するときに余分なスペースを削除する
setopt hist_reduce_blanks

# シェルを横断して.zshhistoryに記録
setopt inc_append_history

# ヒストリを共有
setopt share_history

# ヒストリ用キーバインド
autoload history-search-end
zle -N history-beginning-search-backward-end history-search-end
zle -N history-beginning-search-forward-end history-search-end
bindkey '^P' history-beginning-search-backward-end
bindkey '^N' history-beginning-search-forward-end
bindkey '^R' history-incremental-search-backward

# ---------- auto-comp ---------
# 補完
autoload -U compinit
compinit

# ディレクトリ名の補完で末尾の / を自動的に付加し、次の補完に備える
setopt auto_param_slash

# 補完候補一覧でファイルの種別を識別マーク表示 (訳注:ls -F の記号)
setopt list_types

# コマンドラインの引数で --prefix=/usr などの = 以降でも補完できる
setopt magic_equal_subst

# 日本語ファイル名等8ビットを通す
setopt print_eight_bit
#
# 明確なドットの指定なしで.から始まるファイルをマッチ
setopt globdots

# 補完候補を ←↓↑→ でも選択出来るようにする
zstyle ':completion:*:default' menu select=1

# ---------- その他 ---------

eval "$(nodenv init -)"

# load .zshrc_*
[ -f $ZDOTDIR/.zshrc_theme ] && . $ZDOTDIR/.zshrc_theme
[ -f $ZDOTDIR/.zshrc_alias ] && . $ZDOTDIR/.zshrc_alias
