# ---------- 基本設定 ----------
#PATH
export PATH=$PATH:~/Library/Android/sdk/platform-tools

# Homebrew オプション
export HOMEBREW_CASK_OPTS='--appdir=/Applications'

# 日本語を使用
export LANG=ja_JP.UTF-8

# 日本語ファイル名を表示可能にする
setopt print_eight_bit

# vim キーバインドを使用
bindkey -v

# 色を使用
autoload -Uz colors
colors

# git の情報を取得
autoload -Uz vcs_info

# ディレクトリ移動時に再度情報取得
setopt prompt_subst

# ---------- ヒストリー関連 ----------
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

# ヒストリーに重複を表示しない
setopt hist_ignore_all_dups

# スペースから始まるコマンド行はヒストリに残さない
setopt hist_ignore_space

# ヒストリに保存するときに余分なスペースを削除する
setopt hist_reduce_blanks

# シェルを横断して.zshhistoryに記録
setopt inc_append_history

# ヒストリを共有
setopt share_history

# ヒストリ用キーバインド
autoload history-search-end
zle -N history-beginning-search-backward-end history-search-end
zle -N history-beginning-search-forward-end history-search-end
bindkey '^P' history-beginning-search-backward-end
bindkey '^N' history-beginning-search-forward-end
bindkey '^R' history-incremental-search-backward

# -------------------------------------------------

# ---------- alias ---------
alias la='ls -la'
alias ls='ls -l'
alias lat='pwd;find . | sort | sed '\''1d;s/^\.//;s/\/\([^/]*\)$/|--\1/;s/\/[^/|]*/| /g'\'''

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'


# ---------- git ----------
alias gst='git status'
alias gd='git diff'

alias glog='git log --graph --date=short --decorate=short --pretty=format:'\''%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'\'''

alias gb='git branch'
alias gbd='git branch -d'

alias grp='git remote prune'

alias gco='git checkout'
alias gcob='git checkout -b'

alias ga='git add'
alias gc='git commit --verbose'
alias gps='git push'

alias grst='git reset'

alias gconf='git config -l'


# ---------- npm ----------
alias npm-remove='npm ls -gp --depth=0 | awk -F/ \''/node_modules/ && !/\/npm$/ {print $NF}\'' | xargs npm -g rm'
alias sudo-npm-remove='sudo npm ls -gp --depth=0 | awk -F/ \''/node_modules/ && !/\/npm$/ {print $NF}\'' | sudo xargs npm -g rm'

# -------------------------------------------------

# ---------- auto-comp ---------
# 補完
autoload -U compinit
compinit

# ディレクトリ名の補完で末尾の / を自動的に付加し、次の補完に備える
setopt auto_param_slash

# 補完候補一覧でファイルの種別を識別マーク表示 (訳注:ls -F の記号)
setopt list_types

# コマンドラインの引数で --prefix=/usr などの = 以降でも補完できる
setopt magic_equal_subst

# 日本語ファイル名等8ビットを通す
setopt print_eight_bit
#
# 明確なドットの指定なしで.から始まるファイルをマッチ
setopt globdots

# 補完候補を ←↓↑→ でも選択出来るようにする
zstyle ':completion:*:default' menu select=1

# -------------------------------------------------

# ---------- theme ---------
# ---------- 文字色 ----------
local COLOR_FG_LIGHTBLUE='%{[38;5;081m%}'
local COLOR_FG_BLUE='%{[38;5;033m%}'
local COLOR_FG_DEEPGREEN='%{[38;5;034m%}'
local COLOR_FG_GREEN='%{[38;5;082m%}'
local COLOR_FG_ORANGE='%{[38;5;214m%}'
local COLOR_FG_PINK='%{[38;5;200m%}'
local COLOR_FG_RED='%{[38;5;196m%}'

# ---------- 背景色 ----------
local COLOR_BG_GREEN='%{[30;48;5;082m%}'
local COLOR_END='%{[0m%}'

function box_name {
    [ -f ~/.box-name ] && cat ~/.box-name || echo ${SHORT_HOST:-$HOST}
}

zstyle ':vcs_info:*' formats '%s : %r-[%b] - %m'
zstyle ':vcs_info:*' actionformats '%s : %r-[%b|%a] - %m'
precmd () {
    psvar=()
    LANG=en_US.UTF-8
    vcs_info
    [[ -n "$vcs_info_msg_0_" ]] && psvar[1]="$vcs_info_msg_0_"
}

zstyle ':vcs_info:git+set-message:*' hooks git-config-user
function +vi-git-config-user(){
  user=`git config user.name`
  email=`git config user.email`
  hook_com[misc]+=$user($email)
}

PROMPT='╭─${COLOR_FG_GREEN}%n${COLOR_END} at ${COLOR_FG_ORANGE}$(box_name)${COLOR_END} in %B${COLOR_FG_PINK}%d${COLOR_END}%b
| %1(v|${COLOR_FG_LIGHTBLUE}%1v${COLOR_END}|)
╰─ '
