# ---------- 文字色 ----------
local COLOR_FG_LIGHTBLUE='%{[38;5;081m%}'
local COLOR_FG_BLUE='%{[38;5;033m%}'
local COLOR_FG_DEEPGREEN='%{[38;5;034m%}'
local COLOR_FG_GREEN='%{[38;5;082m%}'
local COLOR_FG_ORANGE='%{[38;5;214m%}'
local COLOR_FG_PINK='%{[38;5;200m%}'
local COLOR_FG_RED='%{[38;5;196m%}'

# ---------- 背景色 ----------
local COLOR_BG_GREEN='%{[30;48;5;082m%}'
local COLOR_END='%{[0m%}'

function box_name {
    [ -f ~/.box-name ] && cat ~/.box-name || echo ${SHORT_HOST:-$HOST}
}

zstyle ':vcs_info:*' formats '%s : %r[%b] - %m'
zstyle ':vcs_info:*' actionformats '%s : %r[%b|%a] - %m'
precmd () {
    psvar=()
    LANG=en_US.UTF-8
    vcs_info
    [[ -n "$vcs_info_msg_0_" ]] && psvar[1]="$vcs_info_msg_0_"
}

zstyle ':vcs_info:git+set-message:*' hooks git-config-user
function +vi-git-config-user(){
  user=`git config user.name`
  email=`git config user.email`
  hook_com[misc]+=$user($email)
}

PROMPT='╭─${COLOR_FG_GREEN}%n${COLOR_END} at ${COLOR_FG_ORANGE}$(box_name)${COLOR_END} in %B${COLOR_FG_PINK}%d${COLOR_END}%b
| %1(v|${COLOR_FG_LIGHTBLUE}%1v${COLOR_END}|)
╰─ '

