{% for item in ssh_config_values %}
Host {{ item.host }}
  HostName {{ item.host_name }}
  User {{ item.user }}
  Port {{ item.port }}
  IdentityFile {{ item.identity_file }}
  TCPKeepAlive {{ item.keep_alive }}
  IdentitiesOnly {{ item.identities_only }}
{% endfor %}
